Reset *,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
video {
  max-width: 100%;
}

/* style colors, fonts */
:root {
  --main-font: "Poppins", Helvetica, sans-serif;
  --main-bg-c: #fdfdff;
  --main-color: #546a7b;
  --accent-color: #62929e;
}

html {
  font-family: var(--main-font);
}

body {
  background-color: var(--main-bg-c);
}

h1 {
  padding: 0.5rem;
  text-align: center;
  animation: init 3s ease-in-out;
  transform: scale(1.3);
  background-image: linear-gradient(
    340deg,
    rgba(57, 61, 63, 1) 10%,
    rgba(98, 146, 158, 1) 49%,
    rgba(198, 197, 185, 1) 68%,
    rgba(84, 106, 123, 1) 99%
  );
  background-clip: text;
  color: transparent;
}

.shopping-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping-input h2 {
  color: var(--main-color);
}

#items-submit {
  padding: 1rem;
  width: 80%;
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0.15rem 0.15rem var(--accent-color);
}

#items-submit::placeholder {
  color: var(--accent-color);
}

#items-submit:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 0.15rem var(--accent-color) inset;

  color: var(--accent-color);
}

#add {
  margin: 1rem auto;
  padding: 1rem;
  width: 50%;
  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0.1rem 0.1rem var(--main-color);
  color: var(--main-bg-c);
  font-size: clamp(1rem, 3vw, 2rem);
}

.items {
  width: 80%;
  margin: 0 auto;
}

.items-list {
  list-style: none;
  padding: 0;
  color: var(--main-color);
  font-weight: 600;
}

.item label {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: clamp(1.2rem, 3vw, 2rem);
}

.listcheck {
  transform: scale(1.3);
}

@keyframes init {
  0% {
    transform: scale(1.5);
    color: #000;
  }

  50% {
    transform: scale(1.4);
    background-image: linear-gradient(
      340deg,
      rgba(57, 61, 63, 1) 10%,
      rgba(98, 146, 158, 1) 49%,
      rgba(198, 197, 185, 1) 68%,
      rgba(84, 106, 123, 1) 99%
    );
    background-clip: text;
    color: transparent;
  }

  100% {
    transform: scale(1.3);
    background-image: linear-gradient(
      340deg,
      rgba(57, 61, 63, 1) 10%,
      rgba(98, 146, 158, 1) 49%,
      rgba(198, 197, 185, 1) 68%,
      rgba(84, 106, 123, 1) 99%
    );
    background-clip: text;
    color: transparent;
  }
}
